.Centro {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  
}
#branco1 {
  color:  black;
}
#roxo{
  color: #DB88FF;
}

.blocoCartaz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vh;
  background-color: #DEDAFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border-radius: 2em;
  
}


.blocoLado{
align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2em;}

