.Centro {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  
}
#branco1 {
  color:  black;
}
#roxo{
  color: #DB88FF;
}

.blocoCartaz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: #DEDAFF;
  
}


.blocoLado{
  display: flex;
  flex-direction: row;
  gap: 2em;}

