body {
    background-color: #FFFFFF;
  }
  
  .Carrossel-Container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
  }
  
  .Botao-Carrossel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
  }
  
  .Botao-Carrossel:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .Botao-Carrossel.Esquerda {
    left: 0.7rem;
  }
  
  .Botao-Carrossel.Direita {
    right: 0.7rem;
  }
  
  
  .Bola {
    height: 0.9rem;
    width:  0.9rem;
    margin: 0 0.3rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #c21408;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  
  
  .Bola.active {
    background-color: #880903;
  }

  .Api-Wikipedia {
    background-color: #DFB760;
    padding: 0.9em;
    border-radius: 0.4em;
    width: 45%;
    height: 40em;
    box-shadow: 0px 0px 2px 0px #000000;
  
  }
  
  .Titulo-Api {
    background-color: #FFFAE0;
    color: #8e1b07;
    text-align: center;
    width: 80%;
    border-radius: 0.5em;
  }
  
  .Texto-Api {
    background-color: #822626;
    color: #ffffff;
    text-align: center;
    width: 80%;
    height: 20em;
    border-radius: 0.5em;
    padding: 1.5em;
  }
  

  .Bloco-OqFoi{
    background-color: #ebc678;
    text-align: center;
    padding: 0.9em;
    border-radius: 0.4em;
    width: 45%;
    height: 30em;
    box-shadow: 0px 0px 2px 0px #000000;
  }

  .Titulo-OqFoi{
    background-color: #8e1b07;
    color: #ffffff;
    text-align: center;
    width: 80%;
    border-radius: 0.5em;
  }

  .img-Oq{
    width: 46%;
    height: 11em;
    border-radius: 0.5em;
  }

  .Texto-OqFoi{
    background-color: #FFFAE0;
    color: #8e1b07;
    text-align: center;
    width: 85%;
    border-radius: 0.5em;
    padding: 0.6rem;
  }

  .Bloco-Antecedentes{
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 1.2em;
    background-color: #FCFAF1;
    border: #AF7E04 solid 0.1em;
    width: 93%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px 0px #000000;
  }

  .Img-Ante{
    width: 23vw;
    height: 21vh;
    border-radius: 0.2em;
  }

  .Imgs-Juntas{
    display: flex;
    flex-direction: column;
  }

  .Titulo-Antecedentes{
    background-color: #ffe6c9;
    color: #8e1b07;
    text-align: center;
    width: 70%;
    border-radius: 0.5em;
  }

  .Bloco-Bolsa{
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 1.2em;
    background-color: #FCFAF1;
    border: #AF7E04 solid 0.1em;
    width: 93%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px 0px #000000;
  }

  .Titulo-Bolsa{
    background-color: #8e1b07;
    color: #ffffff;
    text-align: center;
    width: 60%;
    border-radius: 0.5em;
  }