/* Estilo para a posição do tema, usando flexbox em disposição reversa */
.botTemaPosicao {
  display: flex; /* Utiliza flexbox para o layout */
  flex-direction: row-reverse; /* Coloca os elementos em ordem reversa */
  padding-right: 2em; /* Adiciona espaço à direita */
}

/* Estilo do título principal */
.tituloF {
  font-size: 2.5em; /* Tamanho da fonte */
  text-align: left; /* Alinhamento à esquerda */
  width: 70vw; /* Largura de 70% da viewport */
  padding-bottom: 1em; /* Espaço na parte inferior */
  padding-top: 1em; /* Espaço na parte superior */
  font-family: "Montserrat", sans-serif; /* Fonte utilizada */
}

/* Estilo para texto verde */
.verdeTexto {
  color: green; /* Cor verde */
}

/* Estilo para texto vermelho */
.vermelhoTexto {
  color: red; /* Cor vermelha */
}

/* Configurações gerais para caixas de informação */
.box-geral {
  display: flex; /* Utiliza flexbox */
  flex-direction: column; /* Direção em coluna */
  align-items: center; /* Centraliza os itens */
  font-family: "Montserrat", sans-serif; /* Fonte utilizada */
}

/* Estilo das caixas de informação com fundo e sombra */
.box-infow {
  display: flex;
  flex-direction: column; /* Direção em coluna */
  background-color: #bec092; /* Cor de fundo */
  width: 70vw; /* Largura de 70% da viewport */
  align-items: center; /* Centraliza itens */
  box-shadow: #86895d 1px 1px 5px 1px; /* Sombra da caixa */
  transition: 0.5s; /* Transição suave */
}

/* Efeito de hover para expandir e mudar a sombra */
.box-infow:hover {
  transform: scale(1.02); /* Aumenta levemente o tamanho */
  box-shadow: #272b00 1px 1px 10px 1px; /* Muda a sombra ao passar o mouse */
  cursor: pointer; /* Muda o cursor */
}

/* Estilo do título dentro da caixa de informação */
.titulowiki {
  font-size: 1.7em; /* Tamanho da fonte */
  color: #54582f; /* Cor do texto */
  padding: 0.5em; /* Espaço ao redor */
}

/* Estilo das imagens dentro da wiki */
.imgWiki {
  width: 20vw; /* Largura de 20% da viewport */
  height: auto; /* Altura automática para manter a proporção */
  border-radius: 1em; /* Cantos arredondados */
}

/* Estilo para parágrafos dentro da caixa de informação */
.box-infow p {
  font-size: 1.1em; /* Tamanho da fonte */
  padding: 2em; /* Espaço ao redor */
  color: #f8fbca; /* Cor do texto */
}

/* Configurações para a caixa de informações com o conteúdo */
.box-info {
  display: flex; /* Utiliza flexbox */
  flex-direction: row; /* Direção em linha */
  background-color: #bec092; /* Cor de fundo */
  width: 70vw; /* Largura de 70% da viewport */
  justify-content: space-between; /* Espaça os itens igualmente */
  margin-top: 5em; /* Espaço superior */
  box-shadow: #86895d 1px 1px 5px 1px; /* Sombra da caixa */
  transition: 0.5s;
}

/* Efeito de hover para a caixa de informações */
.box-info:hover {
  transform: scale(1.02); /* Aumenta o tamanho */
  box-shadow: #272b00 1px 1px 10px 1px; /* Atualiza a sombra */
  cursor: pointer; /* Muda o cursor */
  transition: 0.5s;
}

/* Estilo para a coluna de informações */
.box-coluna {
  display: flex; /* Utiliza flexbox */
  flex-direction: column; /* Direção em coluna */
  align-items: center; /* Centraliza itens */
}

/* Estilo para a linha de informações */
.box-row {
  display: flex; /* Utiliza flexbox */
  flex-direction: row; /* Direção em linha */
}

/* Remover marcação de lista nas linhas */
.box-row ul {
  text-decoration: none; /* Remove sublinhado */
  list-style: none; /* Remove estilo de lista */
}

/* Estilo do título dentro da caixa de informações */
.box-info h2 {
  font-size: 1.7em; /* Tamanho da fonte */
  color: #54582f; /* Cor do texto */
  padding: 0.5em; /* Espaço ao redor */
}

/* Estilo para parágrafos dentro da caixa de informações */
.box-info p {
  font-size: 1.1em; /* Tamanho da fonte */
  color: #f8fbca; /* Cor do texto */
  padding: 1.5em; /* Espaço ao redor */
  text-align: justify; /* Justifica o texto */
}

/* Estilo para listas dentro da caixa de informações */
.box-info li {
  font-size: 1.1em; /* Tamanho da fonte */
  color: #f8fbca; /* Cor do texto */
  padding: 1.5em; /* Espaço ao redor */
}

/* Estilo para imagens dentro da caixa de informacao */
.box-info img {
  width: 30vw; /* Largura de 30% da viewport */
  height: auto; /* Altura automática */
}

/* Estilo da caixa de filmes */
.box-filmes {
  display: flex; /* Utiliza flexbox */
  flex-direction: column; /* Direção em coluna */
  background-color: #272b00; /* Cor de fundo */
  color: #86895d; /* Cor do texto */
  margin-top: 5em; /* Espaço superior */
  width: 100%; /* Largura total */
}

/* Estilo do título da caixa de filmes */
.box-filmes h1 {
  font-size: 2em; /* Tamanho da fonte */
  padding: 2em; /* Espaço ao redor */
}

/* Estilo da caixa de imagem */
.imgout {
  border: #86895d solid 2px; /* Borda com cor e espessura */
  border-radius: 1em; /* Cantos arredondados */
  padding: 1.5em; /* Espaço ao redor */
  width: 40vw; /* Largura de 40% da viewport */
  height: auto; /* Altura automática */
  display: flex; /* Utiliza flexbox */
  flex-direction: column; /* Direção em coluna */
  align-items: center; /* Centraliza itens */
  box-shadow: #86895d 1px 1px 5px 1px; /* Sombra da caixa */
  transition: 0.5s; /* Transição suave */
}

/* Efeito de hover para a caixa de imagem */
.imgout:hover {
  transform: scale(1.02); /* Aumenta o tamanho ao passar o mouse */
  cursor: pointer; /* Muda o cursor */
}

/* Estilo da imagem dentro da caixa de imagem */
.imgout img {
  width: 40vw; /* Largura de 40% da viewport */
  height: auto; /* Altura automática */
}

/* Estilo do texto dentro da caixa de imagem */
.imgout p {
  font-style: italic; /* Estilo itálico */
  color: red; /* Cor vermelha */
  padding: 1em; /* Espaço ao redor */
}

/* Estilo da caixa de vídeos */
.box-videos {
  display: flex; /* Utiliza flexbox */
  flex-direction: row; /* Direção em linha */
  justify-content: center; /* Centraliza itens */
  padding: 2em; /* Espaçamento ao redor */
}

/* Estilo do texto dentro da caixa de vídeos */
.box-videos p {
  width: 50vw; /* Largura de 50% da viewport */
  padding: 2em; /* Espaçamento ao redor */
  text-align: justify; /* Justifica o texto */
}

/* Estilo para o carrossel de fascismo */
.carouselFascismo {
  display: flex; /* Utiliza flexbox */
  align-items: center; /* Alinha verticalmente ao centro */
  justify-content: center; /* Alinha horizontalmente ao centro */
  position: relative; /* Posição relativa */
  margin: auto; /* Centraliza a margem */
  overflow: hidden; /* Esconde conteúdo que ultrapassa */
}

/* Botão do carrossel */
.carousel-button {
  background: #54582f; /* Cor de fundo */
  border: none; /* Sem borda */
  border-radius: 50%; /* Botão circular */
  font-size: 2em; /* Tamanho da fonte */
  color: white; /* Cor do texto */
  cursor: pointer; /* Muda o cursor para pointer */
  width: 1em; /* Largura do botão */
  height: 1em; /* Altura do botão */
  padding: 1em; /* Espaço ao redor */
  display: flex; /* Utiliza flexbox */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

/* Efeito de hover dos botões */
.carousel-button:hover {
  color: #555; /* Muda a cor do texto ao passar o mouse */
}

/* Estilo para os slides do carrossel */
.carousel-slide {
  display: flex; /* Utiliza flexbox */
}

/* Estilo para cada slide */
.slide {
  position: relative; /* Posição relativa */
  font-family: "Montserrat", sans-serif; /* Fonte utilizada */
  width: 22vw; /* Largura de 22% da viewport */
  height: 70vh; /* Altura de 70% da viewport */
}

/* Imagem dentro do slide */
.slide img {
  object-fit: cover; /* Cobre todo espaço disponível */
  position: relative; /* Posição relativa */
  width: 22vw; /* Largura de 22% da viewport */
  height: 70vh; /* Altura de 70% da viewport */
  z-index: 0; /* Z-index baixo para fundo */
}

/* Estilo do título dentro do slide */
.slide h2 {
  font-size: 1.7em; /* Tamanho da fonte */
  padding-top: 0.5em; /* Espaço no topo */
  text-align: left; /* Alinhamento à esquerda */
  position: relative; /* Posição relativa */
  z-index: 1; /* Z-index alto para sobrepor a imagem */
  bottom: 6.5em; /* Posiciona para cima */
  left: 0.5em; /* Desloca à esquerda */
  color: red; /* Cor do texto */
}

/* Estilo do link dentro do slide */
.slide a {
  font-size: 1em; /* Tamanho da fonte */
  text-align: left; /* Alinhamento à esquerda */
  position: relative; /* Posição relativa */
  z-index: 1; /* Z-index alto para sobrepor a imagem */
  bottom: 10.5em; /* Posiciona para cima */
  left: 1em; /* Desloca à esquerda */
  color: red; /* Cor do texto */
  width: 20vw; /* Largura de 20% da viewport */
  font-weight: 500; /* Peso da fonte */
  display: flex; /* Utiliza flexbox */
}

/* Estilo para slides de especificação */
.slideAP {
  position: relative; /* Posição relativa */
  font-family: "Montserrat", sans-serif; /* Fonte utilizada */
  width: 22vw; /* Largura de 22% da viewport */
  height: 70vh; /* Altura de 70% da viewport */
  padding: 1em; /* Espaço ao redor */
  margin-top: 2em; /* Espaço superior */
}

/* Imagem dentro do slideAP */
.slideAP img {
  object-fit: cover; /* Cobre todo espaço disponível */
  position: relative; /* Posição relativa */
  width: 22vw; /* Largura de 22% da viewport */
  height: 70vh; /* Altura de 70% da viewport */
  z-index: 0; /* Z-index baixo para fundo */
}

/* Estilo do título dentro do slideAP */
.slideAP h2 {
  font-size: 1.7em; /* Tamanho da fonte */
  padding-top: 0.5em; /* Espaço no topo */
  text-align: left; /* Alinhamento à esquerda */
  position: relative; /* Posição relativa */
  z-index: 1; /* Z-index alto para sobrepor a imagem */
  bottom: 6.5em; /* Posiciona para cima */
  left: 0.5em; /* Desloca à esquerda */
  color: white; /* Cor do texto */
}

/* Estilo do link dentro do slideAP */
.slideAP a {
  font-size: 1em; /* Tamanho da fonte */
  text-align: left; /* Alinhamento à esquerda */
  position: relative; /* Posição relativa */
  z-index: 1; /* Z-index alto para sobrepor a imagem */
  bottom: 10.5em; /* Posiciona para cima */
  left: 1em; /* Desloca à esquerda */
  color: white; /* Cor do texto */
  width: 20vw; /* Largura de 20% da viewport */
  font-weight: 500; /* Peso da fonte */
  display: flex; /* Utiliza flexbox */
  transition: 0.2s; /* Transição suave */
}

/* Efeito de hover para links no slideAP */
.slideAP a:hover {
  color: red; /* Muda a cor ao passar o mouse */
  transition: 0.2s; /* Transição suave */
}

/* Efeito de hover para links no slide */
.slide a:hover {
  color: white; /* Muda a cor ao passar o mouse */
  transition: 0.2s; /* Transição suave */
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
  /* Ajustes para telas pequenas */
  .titulowiki {
    margin-bottom: -4em; /* Ajusta a margem inferior */
    font-size: 1.5em; /* Reduz o tamanho da fonte */
    color: #54582f; /* Cor do texto */
  }

  .carouselFascismo {
    display: none; /* Esconde o carrossel */
  }

  .tituloF {
    font-size: 2em; /* Reduz o tamanho da fonte */
    width: 90vw; /* Aumenta a largura */
    text-align: center; /* Centraliza o texto */
  }

  .box-infow,
  .box-info {
    width: 90vw; /* Ajusta a largura das caixas */
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    margin-top: 10em; /* Espaço superior */
  }

  .box-info img {
    width: 40vw; /* Largura de 40% para imagens */
    height: auto; /* Mantém proporção */
    margin-top: 1em; /* Espaço acima */
  }

  .imgout {
    width: 40vw; /* Ajusta a largura da caixa de imagem */
  }

  .imgout img {
    width: 30vw; /* Largura das imagens */
    height: auto; /* Mantém proporção */
  }

  .box-videos {
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    padding: 1em; /* Espaçamento */
  }

  .box-videos iframe {
    width: 100%; /* Largura total para iFrames */
    height: auto; /* Mantém proporção */
  }

  .box-videos p {
    width: 90vw; /* Largura de 90% para texto */
    padding: 1em; /* Ajusta padding */
    text-align: justify; /* Justifica o texto */
  }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
  .titulowiki {
    font-size: 1.3em; /* Reduz ainda mais o tamanho da fonte */
    color: #54582f; /* Cor do texto */
  }

  .tituloF {
    font-size: 1.5em; /* Reduz o tamanho da fonte */
    width: 95vw; /* Aumenta a largura */
    text-align: center; /* Centraliza o texto */
  }

  .box-infow,
  .box-info {
    width: 90vw; /* Ajusta a largura das caixas */
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    margin: 0 auto; /* Centraliza a caixa */
    margin-top: 5em; /* Espaço acima */
  }

  .box-info img {
    width: 80vw; /* Largura das imagens */
    height: auto; /* Mantém proporção */
    margin-top: 1em; /* Espaço acima */
  }

  .imgout {
    width: 50vw; /* Ajusta a largura da caixa de imagem */
  }

  .imgout img {
    width: 50vw; /* Largura das imagens */
    height: auto; /* Mantém proporção */
  }

  .box-videos {
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    padding: 1em; /* Ajusta padding */
  }

  .box-videos iframe {
    width: 100%; /* Largura total para iFrames */
    height: auto; /* Mantém proporção */
  }

  .box-videos p {
    width: 90vw; /* Largura do texto */
    padding: 1em; /* Ajusta padding */
    text-align: justify; /* Justifica o texto */
  }

  .imgout p {
    font-size: 0.9em; /* Reduz tamanho da fonte da legenda */
  }

  .box-info h2 {
    font-size: 1.5em; /* Reduz tamanho do título */
  }

  .box-info p {
    font-size: 0.9em; /* Reduz tamanho do texto */
  }

  .box-info li {
    font-size: 0.9em; /* Reduz tamanho da lista */
  }
}

@media (max-width: 340px) {
  .titulowiki {
    font-size: 1.1em; /* Reduz ainda mais o tamanho da fonte */
    color: #54582f; /* Cor do texto */
  }

  .tituloF {
    font-size: 1.3em; /* Reduz o tamanho da fonte */
    width: 95vw; /* Aumenta a largura */
    text-align: center; /* Centraliza o texto */
  }

  .box-infow,
  .box-info {
    width: 90vw; /* Ajusta a largura das caixas */
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    margin: 0 auto; /* Centraliza a caixa */
    margin-top: 5em; /* Espaço acima */
  }

  .box-info img {
    width: 80vw; /* Largura das imagens */
    height: auto; /* Mantém proporção */
    margin-top: 1em; /* Espaço acima */
  }

  .imgout {
    width: 50vw; /* Ajusta a largura da caixa de imagem */
  }

  .imgout img {
    width: 50vw; /* Largura das imagens */
    height: auto; /* Mantém proporção */
  }

  .box-videos {
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza itens */
    padding: 1em; /* Ajusta padding */
  }

  .box-videos iframe {
    width: 100%; /* Largura total para iFrames */
    height: auto; /* Mantém proporção */
  }

  .box-videos p {
    width: 90vw; /* Largura do texto */
    padding: 1em; /* Ajusta padding */
    text-align: justify; /* Justifica o texto */
  }

  .imgout p {
    font-size: 0.7em; /* Reduz tamanho da fonte da legenda */
  }

  .box-info h2 {
    font-size: 1.3em; /* Reduz tamanho do título */
  }

  .box-info p {
    font-size: 0.7em; /* Reduz tamanho do texto */
  }

  .box-info li {
    font-size: 0.7em; /* Reduz tamanho da lista */
    padding: 0.01em;
    padding-right: 3em;
  }
}
