*{
    margin: 0;
    padding: 0;
}

.tituloF {
    font-size: 2em;
    padding: 1em;
}

.verdeTexto {
    color: green;
}

.vermelhoTexto {
    color: red;
}

.box-geral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-infow {
    display: flex;
    flex-direction: column;
    background-color: #bec092;
    width: 70vw;
    align-items: center;
}

.box-infow h2 {
    font-size: 1.7em;
    color: #54582f;
    padding: 0.5em;
}

.box-infow p {
    font-size: 1.1em;
    color: #f8fbca;
}

.box-info {
    display: flex;
    flex-direction: row;
    background-color: #bec092;
    width: 70vw;
    justify-content: space-between;
    margin-top: 5em;
}

.box-coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-info h2 {
font-size: 1.7em;
    color: #54582f;
    padding: 0.5em;
}

.box-info p {
    font-size: 1.1em;
    color: #f8fbca;
}

.box-filmes {
    display: flex;
    flex-direction: column;
    background-color: #272b00;
    color: #86895d;
    margin-top: 5em;
    width: 100%;
}

.box-filmes h1{
    font-size: 2em;
    padding: 2em;
}