body{
  background-color: #FCFAF1;
}

.Bloco-Carrossel {
    position: relative;
    height: 100vh; /* Altura total da viewport */

  }


  .Numeros {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 1;
  }

  
  .Bola {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffc379;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .Bolinhas{
  padding-left: 45%;
  }
  
  .Bola.active {
    background-color: #ed9417;
  }
  
  .Api-Wikipedia{
    background-color: #882805;
    padding: 0.9em;
    border-radius: 0.4em ;
    width: 45%;
    height: 30em;
  }

  .Titulo-Api{
    background-color:#FFFAE0 ;
    color:#AF7E04 ;
    text-align: center;
    width: 80%;
    border-radius: 0.5em;
  }

  .Texto-Api{
    background-color: #FBB623;
    color: #000000;
    text-align: center;
    width: 80%;
    height: 20em;
    border-radius: 0.5em;
    padding: 1.5em;
  }

  .Bloco-Intro{
    background-color:#FBB623 ;
    text-align: center;
    padding: 0.9em;
    border-radius: 0.4em ;
    width: 45%;
    height: 30em;
  }

  .Blocao-WikieApi {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;       
    gap: 20px;                    
    padding: 20px;
    flex-wrap: wrap;             
  }

  .Titulo-Intro{
    background-color:#882805;
    color:#FBB623 ;
    text-align: center;
    width: 80%;
    border-radius: 0.5em;
  }

  .img-In{
    width: 45%;
    height: 43%;
    border-radius: 0.5em;
  }
 

  .Texto-Intro{
    background-color: #882805;
    color: #FBB623 ;
    text-align: center;
    width: 80%;
    border-radius: 0.5em;
    padding: 1.5em;
  }
