body {
  background-color: #FCFAF1;
}

.Carrossel-Container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
}

.Imagem-Carrossel {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Botao-Carrossel {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
}

.Botao-Carrossel:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.Botao-Carrossel.Esquerda {
  left: 0.7rem;
}

.Botao-Carrossel.Direita {
  right: 0.7rem;
}


.Bola {
  height: 0.9rem;
  width:  0.9rem;
  margin: 0 0.3rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #ffc379;
  cursor: pointer;
  transition: background-color 0.3s;
}



.Bola.active {
  background-color: #ed9417;
}

.Api-Wikipedia {
  background-color: #882805;
  padding: 0.9em;
  border-radius: 0.4em;
  width: 45%;
  height: 30em;
  box-shadow: 0px 0px 2px 0px #000000;

}

.Titulo-Api {
  background-color: #FFFAE0;
  color: #AF7E04;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
}

.Texto-Api {
  background-color: #FBB623;
  color: #000000;
  text-align: center;
  width: 80%;
  height: 20em;
  border-radius: 0.5em;
  padding: 1.5em;
  text-align: justify;
}

.Bloco-Intro {
  background-color: #FBB623;
  text-align: center;
  padding: 0.9em;
  border-radius: 0.4em;
  width: 45%;
  height: 30em;
  box-shadow: 0px 0px 2px 0px #000000;
}

.Blocao-WikieApi {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.12rem;
  padding: 0.12rem;
  flex-wrap: wrap;
}

.Texto-OqIn{
  text-align: justify;
  padding-right: 3rem;
}

.Titulo-Intro {
  background-color: #882805;
  color: #FBB623;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
}

.img-In {
  width: 45%;
  height: 43%;
  border-radius: 0.5em;
}


.Texto-Intro {
  background-color: #882805;
  color: #FBB623;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
  padding: 1.5em;
  text-align: justify;
}

.Bloco-OqInflu {
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 1.2em;
  background-color: #FCFAF1;
  border: #AF7E04 solid 0.1em;
  width: 93%;
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 0px #000000;
}

.Img-OqInflu {
width: 25vw;
  height: 30vh;
  border-radius: 0.8em;
}

.Titulo-OqIn {
  background-color: #fcf2c2;
  color: #AF7E04;
  text-align: center;
  width: 80%;
  border: #AF7E04 solid 0.1em;
  border-radius: 0.5em;

}

.Conflito {
  background-color: #fcf2c3;
  color: #AF7E04;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
  border: #AF7E04 solid 0.1em;
  box-shadow: 0px 0px 2px 0px #000000;
}

.ImgAn {
  border-radius: 50em;
  border: #eaaa08 solid 1em;
}

.Bloco-Anto {
  background-color: #882805;
  padding: 0.9em;
  border-radius: 0.4em;
  width: 40%;
  margin-left: 2em;
  box-shadow: 0px 0px 2px 0px #000000;
}

.Titulo-Anto {
  background-color: #FFFAE0;
  color: #AF7E04;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
}

.Texto-Anto {
  background-color: #FBB623;
  color: #000000;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
  padding: 1.5em;
  text-align: justify;
}

.Bloco-Fim {
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 1.2em;
  background-color: #FCFAF1;
  border: #AF7E04 solid 0.1em;
  width: 40%;
  height: 33.5em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 2px 0px #000000;

}

.ImgFim {
  width: 55%;
  height: 20%;
  border-radius: 0.5em;
}

.Titulo-Fim {
  background-color: #fcf2c2;
  color: #AF7E04;
  text-align: center;
  width: 75%;
  border: #AF7E04 solid 0.1em;
  border-radius: 0.5em;
}

.Texto-Fim {
  background-color: #882805;
  color: #FBB623;
  text-align: center;
  width: 75%;
  border-radius: 0.5em;
  padding: 1.5em;
  text-align: justify;
}

.Blocos-AnteFim {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 1.5em;
}

.Juntos {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0.13rem;
  margin-top: 1.5em;
}

.Bloco-Video {
  border: solid 2px #882805;
  padding: 0.9rem;
  border-radius: 0.5em;
  width: 60%;
  box-shadow: 0px 0px 2px 0px #000000;

}

.Bloco-Filme {
  border: solid 2px #882805;
  padding: 0.9rem;
  border-radius: 0.5em;
  width: 70%;
  box-shadow: 0px 0px 2px 0px #000000;

}

.Titulo-Video {
  background-color: #882805;
  color: #FBB623;
  border-radius: 0.5em;
  padding: 0.5em;

}

.Texto-Video {
  background-color: #FBB623;
  color: #000000;
  border-radius: 0.5em;
  padding: 1.5em;
  margin-top: 1em;
  width: 85%;
  text-align: justify;
}

iframe {
  border-radius: 0.5em;
}

.Api-Wikipedia:hover,
.Bloco-Intro:hover,
.Bloco-OqInflu:hover,
.Conflito:hover,
.Bloco-Anto:hover,
.Bloco-Fim:hover,
.Bloco-Video:hover,
.Bloco-Filme:hover {
  box-shadow: 1px 1px 5px 1px #000000;
}

.Titulo-Con {
  background-color: #882805;
  color: #FBB623;
  text-align: center;
  width: 80%;
  border-radius: 0.5em;
  border: #AF7E04 solid 0.1em;
  border-radius: 0.5em;

}

.textwiki {
  font-size: 0.7rem;
}

