.parallax1 {
    background-image: url(https://aventurasnahistoria.com.br/media/_versions/primeira_guerra/trincehe_1_widelg.jpg);
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.parallax2 {
    background-image: url(https://assets.brasildefato.com.br/2024/09/image_processing20200201-29235-1nfnxod.jpg);
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tituloParallax {
    color: white;
    font-size: 2em;
    width: 90vw;
    padding-top: 0.6em;
    padding-left: 0.6em;
    font-family: "Montserrat", sans-serif;
}

.textoParallax {
    color: white;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    width: auto;
}

.tituloParallax2 {
    color: white;
    font-size: 2em;
    padding-top: 0.6em;
    padding-right: 0.6em;
    font-family: "Montserrat", sans-serif;
}

.textoParallax2 {
    color: white;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
    width: auto;
    font-family: "Montserrat", sans-serif;

}

.corTexto {
    color: #db88ff;
}

.titulosHome{
color: #db88ff;
font-size: 2em;
padding-top: 0.6em;
padding-left: 0.6em;
font-family: "Montserrat", sans-serif;
}

.navHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
    gap: 3em;
    width: auto;
}

.navInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    text-align: center;
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
    
}

.navInfos p {
    color: #db88ff;
    font-size: 1.2em;
    font-weight: bold;
}

.navInfos:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.navImg {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: flex;
    box-shadow: #7a5e9b 0px 0px 20px 0px;
}

@media (max-width: 768px) {
    .parallax1,
    .parallax2 {
        height: 100vh;
    }

    .tituloParallax,
    .tituloParallax2,
    .titulosHome {
        font-size: 1.5em;
        padding-top: 0.4em;
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    .textoParallax,
    .textoParallax2 {
        font-size: 0.8em; 
        padding: 0.5em; 
    }


}
