/* 🔴 Estilo do primeiro título da página  */
.blocoPrincipal h1 {
    font-size: 2em; /* Tamanho grande para o título principal */
    font-family: "Montserrat", sans-serif; /* Fonte moderna e sem serifa */
    font-weight: 800; /* Título bem destacado */
    letter-spacing: 2px; /* Espaçamento entre letras para dar destaque */
}

/* 🔴 Colocando a cor amarela em apenas uma frase (ID) */
#textoConhecimento {
    color: yellow; /* Destaca o texto com cor amarela */
}
/* --------------------------------------- */

/* Estilização do texto dentro dos cards do carrossel */
.textoNoCard {
    position: absolute; /* Permite centralizar o texto sobre o card */
    color: white; /* Texto branco para contraste */
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.7); /* Sombra para melhor leitura */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro exato */
    text-align: center; /* Centraliza o texto */
    width: 90%; /* Largura do texto dentro do card */
}

.textoNoCard h3 {
    font-size: 1.5em; /* Tamanho do título do card */
    margin: 0; /* Remove margens padrão */
}

.textoNoCard p {
    font-size: 1em; /* Tamanho do texto do card */
    margin: 0; /* Remove margens padrão */
}

/* 🔴 Container principal dos cards, responsável pelo efeito 3D e centralização */
.carouselFMW {
    height: 35vh;
    display: flex; 
    justify-content: center;
    transform-style: preserve-3d; /* Mantém efeito 3D nos cards que não está destacado */
    perspective: 70em; /* Define a perspectiva 3D */
    width: 90vw;
}

/* Estilo dos cards individuais do carrossel */
.card {
    text-align: center; 
    padding: 1em; 
    border-radius: 2em;
    position: absolute; /* Sobrepõe o principal dos demais cards */
    width: 18vw; 
    height: 28vh; 
    background-size: cover; /* Imagem cobre todo o card */
    background-position: center; /* Centraliza a imagem */
    --r: calc(var(--position) - var(--offset)); /* Diferença entre card destacado e outros cards */
    --abs: max(calc(var(--r) * -1), var(--r)); /* Vamos usar o "--r" calulado acima */
    /* ⬆ Garante que a variável --abs sempre tenha o valor absoluto da diferença entre o card e o card central, resumindo, serve para ajudar no efeito 3D */
    transition: all 1s ease; 
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r))); /* Efeito 3D e deslocamento */
    z-index: calc((var(--position) - var(--abs))); /* Faz que o Card central fica acima dos outros */
}

/* Imagem de fundo para cada card do carrossel */

/*  O "nth-of-type(1)" significa que ele seleciona o primeiro elemento do tipo especificado (neste caso, um elemento com a classe card). */
.card:nth-of-type(1) { /* Card 1 */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/CobrasFumantes.svg/375px-CobrasFumantes.svg.png');
    background-position: center 6%; /* Ajustando a posição da imagem */
}

.card:nth-of-type(2) {
    background-image: url('https://static.historiadomundo.com.br/2024/05/rei-jorge-v-inspecionando-industria-armamentista-inglesa-durante-a-paz-armada-a-europa-se-preparava-para-a-guerra.jpg');
}

.card:nth-of-type(3) {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ferdinand_Schmutzer_-_Franz_Ferdinand_von_%C3%96sterreich-Este%2C_um_1914.jpg/500px-Ferdinand_Schmutzer_-_Franz_Ferdinand_von_%C3%96sterreich-Este%2C_um_1914.jpg');
}

.card:nth-of-type(4) {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg');
}

.card:nth-of-type(5) {
    background-image: url('https://static.nationalgeographicbrasil.com/files/styles/image_3200/public/wwi-trench-archaeology-01.webp?w=1600&h=900');
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em; /* Espaçamento entre os botões */
}

.botoes button {
    background: linear-gradient(180deg, rgba(104, 108, 94, 0.5), #686C5E); /* Gradiente de fundo (junção de 2 cores) */
    color: white;
    border: none;
    padding: 0.5em 1em; 
    border-radius: 1em; 
    cursor: pointer;
    transition: all 0.5s ease; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.botoes button:hover {
    background: linear-gradient(90deg, #686C5E, rgba(104, 108, 94, 0.5)); /* Inverte o gradiente no hover */
    transform: translateY(-3px); /* Levanta o botão ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.botoes button:active {
    transform: translateY(1px); /* Efeito de pressionar o botão */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#infoWiki {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(47, 51, 43, 0.7);
    text-align: center;
    color: white;
    width: 27vw;
    padding: 0.2em;
    border-radius: 50px;

}

#infoPesq {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(47, 51, 43, 0.7);
    /* Cor com 80% de opacidade */
    text-align: center;
    color: white;
    width: 29vw;
    padding: 0.2em;
    border-radius: 50px;
}

.informacoesWikipedia {
    border: solid 1px black;
    width: 75vw;
    padding: 1em;
    border-radius: 10px;
}

#imgPrimeiraGuerraMundial {
    width: 30vw;
    height: auto;
}

hr {
    width: 70vw;
    height: 3.5px;
    /* Aumenta a grossura da linha */
    background-color: black;
    /* Garante que a cor da linha seja visível */
    border: none;
    /* Remove qualquer borda padrão */
}

.blocoResumo {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    justify-content: center;
}

.textoResumo {
    border: solid 1px black;
    padding: 0em 1.5em;
    width: 38vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

#tituloResumo {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(104, 108, 94, 0.7);
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

#imagemResumo {
    width: 27vw;
    height: auto;
    background-color: rgba(104, 108, 94, 0.7);
    padding: 0.7em;
    border-radius: 2em;
}

.blocoCausas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoCausas {
    border: solid 1px black;
    padding: 0em 1.5em;
    width: 75vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

#tituloCausas {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(104, 108, 94, 0.7);
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoEstopim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding-left: 2em;
}

.blocoImagensEstopim {
    display: flex;
    flex-direction: column;
}

.blocoImagensEstopim img {
    width: 10vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

#imgGavrilo {
    width: 13vw;
}

#nomesEstopim {
    margin-top: 0.5em;
    /* Adiciona um pequeno espaçamento acima */
    margin-bottom: 0.9em;
    /* Remove o espaçamento inferior */
    text-align: center;
    /* Centraliza o texto em relação à imagem */
    color: red;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}


.textoEstopim {
    border: solid 1px black;
    padding: 0em 1.5em;
    width: 39vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

#tituloEstopim {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(195, 195, 195, 0.3);
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

#tituloPaises {
    font-size: 1.7em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(89, 89, 89, 0.6);
    /* Cor com 60% de opacidade */
    text-align: center;
    color: yellow;
    width: 34vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoTotalPaises {
    display: flex;
    flex-direction: column;
}

.blocoPaises {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tituloAlianca {
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(89, 89, 89, 0.6);
    /* Cor com 60% de opacidade */
    text-align: center;
    color: yellow;
    width: 20vw;
    padding: 0.2em;
    border-radius: 50px;
}

.textoAlianca {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 45vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

.blocoImagensPaises {
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.blocoImagensPaises img {
    width: 10vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

.nomePaises {
    display: flex;
    flex-direction: row;
    gap: 15em;
    text-align: center;
    /* Centraliza o texto em relação à imagem */
    color: red;
    font-style: italic;
    padding-right: 3em;
    padding-left: 1em;
    font-family: "Montserrat", sans-serif;
}

.nomePaises2 {
    display: flex;
    flex-direction: row;
    gap: 17em;
    text-align: center;
    /* Centraliza o texto em relação à imagem */
    color: red;
    font-style: italic;
    padding-right: 1em;
    padding-left: 0.7em;
    font-family: "Montserrat", sans-serif;
}


#tituloEntente {
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(89, 89, 89, 0.6);
    /* Cor com 60% de opacidade */
    text-align: center;
    color: yellow;
    width: 20vw;
    padding: 0.2em;
    border-radius: 50px;
}

.textoEntente {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 45vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

#tituloFases {
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(168, 172, 158, 0.8);
    text-align: center;
    color: yellow;
    width: 23vw;
    padding: 0.2em;
    border-radius: 50px;
}

#tituloFasesPrincipal {
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: rgba(168, 172, 158, 0.8);
    text-align: center;
    color: yellow;
    width: 19vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoFases {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.textoFase {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 50vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

.blocoImagemFase {
    display: flex;
}

.blocoImagemFase img {
    width: 23vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

#tituloTec {
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: #49503F;
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoTec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.textoTec {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 50vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

.blocoImagensTec {
    display: flex;
    flex-direction: row;
    gap: 4em;
}

.blocoImagensTec img {
    width: 21vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

#tituloBrasil {
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: #49503F;
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoBrasil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.textoBrasil {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 50vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

.blocoImagensBrasil {
    display: flex;
    flex-direction: row;
    gap: 7em;
    align-items: center;
}

.blocoImagensBrasil img {
    width: 13vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

#imagemNavioBR {
    width: 23vw;
    height: 27vh;
}

#tituloPaz {
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: #49503F;
    text-align: center;
    color: yellow;
    width: 30vw;
    padding: 0.2em;
    border-radius: 50px;
}

.blocoPaz {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.textoPaz {
    border: solid 1px black;
    padding: 0em 1.3em;
    width: 30vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
}

.blocoImagemPaz {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blocoImagemPaz img {
    width: 10vw;
    height: auto;
    background-color: rgba(195, 195, 195, 0.3);
    padding: 0.7em;
    border-radius: 2em;
}

#tituloVideos {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

.amarelo {
    color: yellow;
    font-weight: bold;
}

.cinza {
    color: #686C5E;
    font-weight: bold;
}

.blocoTotalVideo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocoVideoIFrame {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.blocoVideoIFrame iframe {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 0.8em;
    border: solid 1px black;
}

.textoVideo {
    background-color: rgba(73, 80, 63, 0.3);
    padding: 0em 1.3em;
    width: 30vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
    align-self: center;
}

.blocoTotalFilme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
}

.blocoFilmeIFrame {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.blocoFilmeIFrame iframe {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 0.8em;
    border: solid 1px black;
}

.textoFilme {
    background-color: rgba(73, 80, 63, 0.3);
    padding: 0em 1.3em;
    width: 30vw;
    border-radius: 10px;
    text-align: justify;
    font-size: 1.1em;
    align-self: center;
}

@media (max-width: 850px) {
    
    .carouselFMW {
        display: none;
    }

    .botoes button {
        display: none;
    }

    #infoWiki, #infoPesq {
        font-size: 1.2em; 
        width: 50vw; 
    }

    .blocoResumo, .blocoCausas, .blocoEstopim, .blocoTotalPaises, .blocoFases, .blocoTec, .blocoBrasil, .blocoPaz {
        flex-direction: column; 
        align-items: center; 
    }

    .blocoImagensEstopim img, .blocoImagensPaises img, .blocoImagensTec img, .blocoImagensBrasil img {
       display: none;
    }

    #imagemResumo, .blocoImagemFase img, .blocoImagemPaz img {
        height: 30vw;
        width: auto;
    }

    .nomePaises, .nomePaises2, #nomesEstopim {
        display: none;
    }

    .textoResumo, .textoCausas, .textoEstopim, .textoAlianca, .textoEntente, .textoFase, .textoTec, .textoBrasil, .textoPaz {
        width: 70vw;
    }

    #tituloVideos, #tituloFasesPrincipal, #tituloFases, #tituloPaz, #tituloBrasil, #tituloTec, #tituloEstopim, #tituloCausas, #tituloResumo, #tituloPaises, #tituloEntente, #tituloAlianca {
        font-size: 1.5em;
        width: 70vw;
    }

    .blocoTotalVideo, .blocoTotalFilme {
        flex-direction: column; 
        align-items: center; 
    }

    .blocoVideoIFrame, .blocoFilmeIFrame {
        flex-direction: column; 
        align-items: center; 
    }

    .textoVideo, .textoFilme {
        width: 70vw;
    }

    .blocoVideoIFrame iframe {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        padding: 0.8em;
        border: solid 1px black;
        width: 50vw;
        height: auto;
    }

    .blocoFilmeIFrame iframe {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        padding: 0.8em;
        border: solid 1px black;
        width: 50vw;
        height: auto;
    }

}
