.bodyRank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.bodyRank h1 {
    text-align: center;
}

#rosaRank {
    color: #FFD7D7;
}

.blocoRanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #FFD7D7;
    width: 40vw;
    height: 40vh;
    border-radius: 2em;
}

.blocoRanks span {
    font-weight: bold;
}