.blocoPrincipalNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    background: linear-gradient(90deg, rgb(216, 126, 254), rgb(235, 226, 239)); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 1s ease;
    height: 12vh;
    font-style: none;
}   

#navbarPrimeiraGuerra {
    background: linear-gradient(90deg, rgba(104, 108, 94, 0.5), #686C5E, rgba(104, 108, 94, 0.5)); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarRevolucaoRussa {
    background: linear-gradient(90deg, #8896FF, rgba(136, 150, 255, 0.6), #8896FF); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarGuerraDoContestado {
    background: linear-gradient(90deg, rgba(203, 77, 80, 0.7), #CB4D50, rgba(203, 77, 80, 0.7)); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarRevolucaoDe1930 {
    background: linear-gradient(90deg, #906A41, rgba(144, 106, 65, 0.8), #906A41); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarCriseDe1929 {
    background: linear-gradient(90deg, #822626, rgba(130, 38, 38, 0.8), #822626); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarGuerraDeCanudos {
    background: linear-gradient(90deg, #FBB623, rgba(251, 182, 35, 0.8), #FBB623); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarFascismoItaliano {
    background: linear-gradient(90deg, #86895D, rgba(134, 137, 93, 0.8), #86895D); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

#navbarRanking {
    background: linear-gradient(90deg, #FFD7D7, rgba(254, 198, 198, 0.8), #FFD7D7); /* Adicione mais cores para suavizar */
    background-size: 400% 400%; /* Aumente o tamanho do gradiente */
    animation: backgroundMove 15s infinite alternate; /* Aumente a duração da animação */
}

.blocoPrincipalNavbar img {
    width: 8vw;
    height: auto;
    transition: all 0.7s ease;
    filter: drop-shadow(0 0 25px white);
}

.blocoPrincipalNavbar img:hover {
    transform: scale(1.1) rotate(7deg); /* Efeito de zoom e rotação */
    filter: drop-shadow(0 0 30px #56007B);
}

.blocoPrincipalNavbar a {
    position: relative;
    color: #fff;
    cursor: pointer;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: none;
}

.blocoPrincipalNavbar a:hover::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #db88ff;
    animation: underlineMove 1.5s; /* Animação da linha ao passar o mouse */
    transition: all 1s ease;
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes underlineMove {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* Media Query para telas menores que 850px */
@media (max-width: 850px) {
    
    .blocoPrincipalNavbar {
        flex-direction: column; /* Altera a direção do flex para coluna */
        align-items: center; /* Centraliza os itens */
        height: auto; /* Ajusta a altura para se adaptar ao conteúdo */
        font-size: 1.2em; /* Reduz o tamanho da fonte */
        width: auto;
    }
    .blocoPrincipalNavbar img {
        width: 20vw; /* Ajusta a largura da imagem para 50% da largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }

    .blocoPrincipalNavbar a {
        font-size: 0.9em; /* Reduz o tamanho da fonte dos links */
        padding: 1em;
    }
}